@import '../../../vars.scss';

nav {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

nav > div {
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: $primary-color-alt;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    user-select: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.active {
    background-color: $background-color;
}

.inactive {
    background-color: $background-color-alt;
}