$edge-thickness: 5px;


.vertical-edge {
    position: absolute;
    width: $edge-thickness;
    height: 100%;
    background-color: white;
}

.horizontal-edge {
    position: absolute;
    height: $edge-thickness;
    width: 100%;
    background-color: white;
}

#left {
    left: 0px;
    cursor: w-resize;
}

#right {
    right: 0px;
    cursor: e-resize;
}


#top {
    top: 0px;
    cursor: n-resize;
}

#bottom {
    bottom: 0px;
    cursor: s-resize;
}